body {
    background-color: var(--backcolor);
    background-image: none !important;
  }

#sec1video {
    
    display: block;
    height: 75vh;
    width: 100%;
    color: var(--letranav);
}

#vidabsolut {
    position: absolute;
    height: 80vh;
    width: 100%;
    z-index: -33;
    overflow: hidden;
}

#vidabsolut video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    opacity: 55%;
}

#comentvid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#comentposition {
    height: 50%;
    max-width: 80%;
    max-width: 800px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

@media only screen and (min-width: 900px){
    #comentposition {
        margin-left: 10%;
    }
    
}

#comentposition #text{
    font-size: 60px;
    font-family: var(--famtext1);
    line-height:80px;
    text-shadow: 2px 2px 2px #000;
}

@media only screen and (min-width: 615px){
    #comentposition #text{
        font-size: 90px;
    }
}

#comentposition #autor{
    text-transform: uppercase;
    color: var(--subtext);
    text-shadow: 2px 2px 2px #000;
    font-size: 20px;
    letter-spacing: 2px;
}

#steamplace{
    margin-top: 50px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

#steamlink {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

#steamlink section{
    padding-right: 20px;
}

#steamlink section #p1{
    font-family: var(--famtext1);
    text-transform: uppercase;
    font-size: 25px;
}

#steamlink section #p2{
    text-transform: uppercase;
    color: var(--subtext);
    letter-spacing: 1px;
    font-size: 15px;
}

#newsbox {
    padding: 2px;
}

#newsbox #titlelink {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
    margin-left: 35px;
}

@media only screen and (min-width: 900px){
    #newsbox #titlelink{
        margin-left: 10%
    }
}

#newsbox #titlelink p {
    color: var(--letranav);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#newsbox #titlelink a {
    color: var(--subtext);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all .2s ease-in-out;
}

#newsbox #titlelink a:hover{
    transform: scale(1.1);
}

#newsbox .randomnews{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-x: hidden;
    flex-wrap: nowrap;
    padding: 10px;
}

#newsbox .randomnews .fondonew{
    height: 300px;
    flex: 0 0 450px;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

#newsbox .randomnews .fondonew .randomnewsclass{
    max-height: 60%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.1966036414565826) 0%, rgba(0,0,0,0.6839985994397759) 51%, rgba(0,0,0,1) 100%);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-bottom: 1px solid var(--subtext);
    transition: all 0.5s ease-in-out;
}

#newsbox .randomnews .fondonew .randomnewsclass .datenews{
    color: var(--subtext);
    font-size: 20px;
}

#newsbox .randomnews .fondonew .randomnewsclass .titlenews{
    color: var(--letranav);
    font-size: 30;
}

#newsbox .randomnews .fondonew .randomnewsclass .datanews {
    color: var(--subtext);
    display: none;
    transition: all 0.5s ease-in-out;
}

.fondonew{
    z-index: 5;
}

#newsbox .randomnews .fondonew:hover .randomnewsclass{
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.522);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-bottom: 1px solid #ff6046;
}

#newsbox .randomnews .fondonew:hover .datanews {
    display: flex;
}

#joinmain {
    border: 1px solid red;
    height: 100vh;
    width: 100%;
}

#joinmain #gridimg{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -33;
    overflow: hidden;
}

#joinmain img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    opacity: 55%;
    z-index: -5;
}

#joinmain .letramap {
    z-index: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 50px 20px;
    animation: entrance 2s;
    animation-delay: 2s;
}

.letramap .join {
    color: var(--subtext);
    font-size: 30px;
    text-transform: uppercase;
    animation: entrance 2s;
}

.letramap .battle {
    color: var(--letranav);
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    animation: entrance 2s;
    animation-delay: 2s;
}
.letramap .lineadecoracion {
    border: 1px solid orangered;
    height: 1px;
    width: 70px;
    animation: entrance 2s;
    animation-delay: 2s;
}
.letramap .textmap {
    max-width: 80%;
    text-align: center;
    color: var(--subtext);
    font-size: 20px;
    animation: entrance 2s;
    animation-delay: 2s;
}
.letramap a {
    border: 1px solid var(--subtext);
    border-radius: 15px;
    padding: 20px;
    color: var(--letranav);
    text-transform: uppercase;
    animation: entrance 2s linear;
    animation-delay: 2s;
    font-size: 10px;
}@media only screen and (min-width: 640px){
    .letramap {
        padding: 60px 20px;
    }

    .letramap .join {
        font-size: 40px;
    }

    .letramap .battle{
        font-size: 50px;
    }

    .letramap .textmap {
        font-size: 30px;
    }

    .letramap a{
        font-size: 20px;
    }
}

@keyframes entrance {
    0%{
        scale: 0.5;
        transform: translateY(-40px);
    }
    100%{
        scale: 1;
    }
}