#gamebackbox{
    height: 60vh;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gamebackbox h2{
    color: var(--letranav);
    font-size: 40px;
    text-align: center;
}

#gamebackbox h3{
    color: var(--subtext);
    font-size: 20px;
    padding-bottom: 150px;
}

#gif1 {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

#gif2 {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

@media only screen and (max-width: 1390px){
    #gif1{
        height: 400px;
        width: auto;
    }

    #gif2{
        height: 500px;
        width: auto;
    }
}

@media only screen and (max-width: 990px){
    #gif1{
        height: 300px;
        width: auto;
    }

    #gif2{
        height: 400px;
        width: auto;
    }
}

@media only screen and (max-width: 729px){
    #gif1{
        height: 200px;
        width: auto;
    }

    #gif2{
        height: 300px;
        width: auto;
    }
}

@media only screen and (max-width: 480px){
    #gif1{
        height: 150px;
        width: auto;
    }

    #gif2{
        height: 250px;
        width: auto;
    }
}


